# Codigo para probar creación de archivos de estrategia optima (estrategia "MAX")

In [7]:
import datetime
import pandas as pd
import sqlite3
import sys
sys.path.append("../")

from src import estrategia_optima

afp='HABITAT'
fecha_ini = datetime.datetime.strptime('2012-01-01', '%Y-%m-%d').date()
fecha_end = datetime.datetime.strptime('2021-01-04', '%Y-%m-%d').date()
monto_inicial = 100


dbpath = r'../processed_data/db_habiles.db'
conn_habiles = sqlite3.connect(dbpath)
df_dias_habiles = pd.read_sql('SELECT * FROM HABILES',
                          conn_habiles, parse_dates=['Fecha'])


df = estrategia_optima(afp, df_dias_habiles, fecha_ini, fecha_end, monto_inicial)
df

    Fecha inicio Fecha término Sugerencia
0     2011-12-31    2012-01-31     100% A
1     2012-01-31    2012-02-29     100% A
2     2012-02-29    2012-03-31     100% A
3     2012-03-31    2012-04-30     100% E
4     2012-04-30    2012-05-31     100% E
..           ...           ...        ...
103   2020-07-31    2020-08-31     100% A
104   2020-08-31    2020-09-30     100% A
105   2020-09-30    2020-10-31     100% E
106   2020-10-31    2020-11-30     100% A
107   2020-11-30    2020-12-13     100% B

[108 rows x 3 columns]

In [8]:
df['Fecha inicio']

0      2011-12-31
1      2012-01-31
2      2012-02-29
3      2012-03-31
4      2012-04-30
          ...
103    2020-07-31
104    2020-08-31
105    2020-09-30
106    2020-10-31
107    2020-11-30
Name: Fecha inicio, Length: 108, dtype: object