In [1]:
import datetime
import sys

sys.path.append(r'../2_avisos_cambio_fondos')

from valores_cuota import df_valores_cuota
from estrategias import BaseEstrategias


fecha_ini = datetime.datetime.strptime('2012-01-01', '%Y-%m-%d').date()
fecha_end = datetime.datetime.strptime('2015-01-01', '%Y-%m-%d').date()
tipo_estrategia = 'FF'


base = BaseEstrategias()

est_ff = base.crea_estrategia(fecha_ini, fecha_end, 'FF')
est_a = base.crea_estrategia(fecha_ini, fecha_end, 'A')

print(est_ff)
print(est_a)

Data días hábiles cargada. Fecha:  2020-12-03 02:53:27.155317
Estrategia: FF
Fecha Inicio: 2012-01-01
Fecha Término: 2015-01-01

2012-01-01 - 2012-01-11 : [0, 0, 0, 0, 1.0]
2012-01-11 - 2012-03-29 : [1.0, 0, 0, 0, 0]
2012-03-29 - 2012-06-19 : [0, 0, 0, 0, 1.0]
...
Estrategia: A
Fecha Inicio: 2012-01-01
Fecha Término: 2015-01-01

2012-01-01 - 2015-01-01 : [1, 0, 0, 0, 0]

In [2]:
afp = 'HABITAT'
monto_inicial = 100
lag_solicitud = 1

df_out = df_valores_cuota(est_ff, afp, monto_inicial, lag_solicitud)

df_out

          Fecha  Valor Fondo  CP_A  CP_B  CP_C  CP_D      CP_E
0    2012-01-01   100.000000   0.0   0.0   0.0   0.0  0.004129
1    2012-01-02   100.056200   0.0   0.0   0.0   0.0  0.004129
2    2012-01-03   100.101829   0.0   0.0   0.0   0.0  0.004129
3    2012-01-04   100.105917   0.0   0.0   0.0   0.0  0.004129
4    2012-01-05   100.216996   0.0   0.0   0.0   0.0  0.004129
...         ...          ...   ...   ...   ...   ...       ...
1011 2014-12-28   132.459716   0.0   0.0   0.0   0.0  0.004264
1012 2014-12-29   132.495830   0.0   0.0   0.0   0.0  0.004264
1013 2014-12-30   132.504060   0.0   0.0   0.0   0.0  0.004264
1014 2014-12-31   132.647240   0.0   0.0   0.0   0.0  0.004264
1015 2015-01-01   132.647240   0.0   0.0   0.0   0.0  0.004264

[1016 rows x 7 columns]

In [3]:
df_out2 = df_valores_cuota(est_a, afp, monto_inicial, lag_solicitud)

df_out2

          Fecha  Valor Fondo      CP_A  CP_B  CP_C  CP_D  CP_E
0    2012-01-01   100.000000  0.003986   0.0   0.0   0.0   0.0
1    2012-01-02    99.928964  0.003986   0.0   0.0   0.0   0.0
2    2012-01-03    99.929761  0.003986   0.0   0.0   0.0   0.0
3    2012-01-04   100.813092  0.003986   0.0   0.0   0.0   0.0
4    2012-01-05   100.834698  0.003986   0.0   0.0   0.0   0.0
...         ...          ...       ...   ...   ...   ...   ...
1092 2014-12-28   136.444175  0.003986   0.0   0.0   0.0   0.0
1093 2014-12-29   136.529363  0.003986   0.0   0.0   0.0   0.0
1094 2014-12-30   136.827182  0.003986   0.0   0.0   0.0   0.0
1095 2014-12-31   136.558583  0.003986   0.0   0.0   0.0   0.0
1096 2015-01-01   136.558583  0.003986   0.0   0.0   0.0   0.0

[1097 rows x 7 columns]